
body{
    display: flex;
    margin: 0;
}
.side_bar{
    padding: 20px;
    background-color:#1e2a38;
    color: white;
    width: 200px;
    height: 100vh;
}
a{
    display: block;
    margin: 20px;
}
.card{
    width: 35%;

}
.cards{
  display: flex;
  justify-content: space-between;
}